
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;

  background-color: #000;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  background-image: url('images/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: "Courier New", Courier, monospace;
  color: white;
}

.content {
  text-align: center;
  background-color:#12122aaa;
  border-radius: 0.9vh;

  outline: none;
  border: none;

	margin-left: auto;
	margin-right: auto;

  position: absolute;
  width: 60vh;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* title name */
.title {
  margin-top: 5%;
  font-size: 3.4vh;
  padding: 1vh;
  margin-bottom: 2.5vh;
}

/* input form */
.input-form {
  width: 60%;
  margin: auto;
}

.input-name {
  display: block;
  text-align: left;
  font-size: 1.8vh;
  color: #dde;
}

.text-input {
  left: 50%;
  margin-bottom: 2.5vh;

  width: 100%;

  color: #dde;
  font-size: 1.9vh;
  
  background-color: transparent;

  padding: 0.8vh;

  outline: 0;
  border-width: 0 0 0.2vh;
  border-color: #cce;
}

#token-input {
  width: 50%;
  float: left;
}

.links {
  margin-bottom: 2.5vh;
}

.links a {
  color: #eef;
  text-decoration: none;
  font-size: 2.6vh;
}

.links a:hover {
  color: #cce;
  text-decoration: underline;
}

.input-form input:focus {
  background-color: #0005;
}

/* play button */
.play-button {
  width: 100%;

  margin-bottom: 2.5vh;
  padding: 1.2vh;

  font-size: 2.3vh;
  font-family: arial;
  text-align: center;

  background-color: #aabbdd;
  
  border: none;
  outline: none;
  text-decoration: none;
}

.play-button:hover {
  background-color: #8899cc;
  color: #eee;
}

/* error text */
#error {
  color: red;
  margin-bottom: 2.5vh;
  display: none;
}

/* bottom copyright text */
div.bottom-text {
  left: 50vw;
  transform: translateX(-50%);

  position: absolute;

  bottom: 1.6vh;
  color: #eee;
  font-size: 1.7vh;
}


.error-title {
  color: white;
  font-size: 3.5vh;
  margin-bottom: 1.5vh;
}
.error-description {
  color: red;
  font-size: 2.8vh;
  margin-bottom: 1.5vh;
}


.confirm-check {
  float: left;
  font-size: 2vh;
  margin-bottom: 2.5vh;
}


/* RULES */

.rules-title {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.rules-text {
  margin-left: 1.25vh;

  padding: 0.5vh;

  text-align: left;
  overflow: auto;
  height: 60vh;
  font-size: 2vh;
  margin-bottom: 2.5vh;
}
.rules-text::-webkit-scrollbar {
  width: 1.25vh; /* width */
}
.rules-text::-webkit-scrollbar-track {
  background: #0007; /* Track */
}
.rules-text::-webkit-scrollbar-thumb {
  background: rgb(161, 170, 38); /* Handle */
}
.rules-text::-webkit-scrollbar-thumb:hover {
  background: rgb(205, 218, 29); /* Handle on hover */
}