
body {
  margin: 0;

  background-color: #0f0f0f;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  background-image: url('../game/assets/images/login/flags-logo.png');
  background-size: cover;
  

  font-family: "Courier New", Courier, monospace;
  color: white;
}

h1 {
  margin-top: 45%;
  font-size: 4.2vh;
}

.content {
  text-align: center;

  box-shadow: 0 0 8vh 16vh rgba(0.1, 0.1, 0.1, 0.7);
	background-color:rgba(0.1, 0.1, 0.1, 0.7);

  outline: none;
  border: none;

	margin-left: auto;
	margin-right: auto;

  position: absolute;
  width: 30vw;
  height: 100vh;

  left: 50%;
  transform: translate(-50%, 0);
}

.colorselect button {
  display: inline;
  padding: 2.0vh;
  
  text-align: center;
  font-size: 1.6vh;
  margin: .4vh .2vh;
  cursor: pointer;
  
  border: none;
  outline:none;
  text-decoration: none;
}

.colorselect .red    {background-color: #DF0000;}
.colorselect .orange {background-color: #FF8000;}
.colorselect .yellow {background-color: #FFFF00;}
.colorselect .green  {background-color: #00FF00;}
.colorselect .aqua   {background-color: #00D4D4;}
.colorselect .blue   {background-color: #0000FF;}
.colorselect .purple {background-color: #50007F;}

#error {
  color: red;
}

.input-play {
  margin: auto;
  width: 100%;
  padding: 1.0vh;

  display: flex;
  flex-direction: row;
}

input {
  color: #333;
  font-size: 1.9vh;
  border: none;

  width: 100%;
  padding: 1.1vh 2.0vh;
  background-color: #ccc;
  outline: none;

  border-radius: .5vh 0 0 .5vh;
}

input:focus {
  background-color: #dde;
}

.play-button {
  display: inline-block;
	width: 13.8vh;
  background-color: #FFFF00;

  outline: none;
  border: none;
  border-radius: 0 .5vh .5vh 0;

  text-decoration: none;

  font-family: arial;
  font-size: 2.3vh;

  text-align: center;
}

.play-button:hover {
  background-color: #808000;
  color: #eee;
}






div.bottom-text {
  left: 50vw;
  transform: translateX(-50%);

  position: absolute;

  bottom: 1.6vh;
  color: #eee;
  font-size: 1.7vh;
}